/*======================== mixins & variables ==============================*/
/* colours */
$defaultColor: #23bec6;
$animationColor: #007d8a;
$whiteColor: #fff;
$blackColor: #333;
$bgWhiteColor: #fff;
$bgScrollBlock: #95a5a6;
/* others*/
$textTransform: uppercase;
/* mixins */
@mixin default-button {
  border: 2px solid $defaultColor;
  border-radius: 3px;
  background: transparent;
  color: $defaultColor;
  display: inline-block;
  font-weight: bold;
  text-transform: $textTransform;
  cursor: pointer;
  transition: .2s all;
  overflow: hidden;
  text-align: center;
  padding: 9px 14px;
  line-height: 1.4em;
  &:hover, &:focus {
    background: $defaultColor;
    color: $whiteColor;
    transition: .2s all;
  }
}
.default-button {
  @include default-button;
}
@media only screen and (max-width: 450px) {
  .default-button {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
  }
}

@mixin bg-white {
  background: $bgWhiteColor;
}
.bg-white {
  @include bg-white;
}
@mixin bg-sand {
  background: #b6b6a6;
}
.bg-sand {
  @include bg-sand;
}
/*============================ common styles ============================== */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  transition: all 0.2s ease-in;
}
a:hover,
a:active,
a:focus {
  transition: all 0.1s ease-out;
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  display: block;
  width: 100%;
  height: 1px;
  border: none;
  padding: 0;
  margin: 0;
}
/*============================ grid system =================================*/
@media only screen and (min-width: 768px) {
  .large-1 {
    position: relative;
    width: 8.33333%;
  }

  .large-2 {
    position: relative;
    width: 16.66667%;
  }

  .large-3 {
    position: relative;
    width: 25%;
  }

  .large-4 {
    position: relative;
    width: 33.33333%;
  }

  .large-5 {
    position: relative;
    width: 41.66667%;
  }

  .large-6 {
    position: relative;
    width: 50%;
  }

  .large-7 {
    position: relative;
    width: 58.33333%;
  }

  .large-8 {
    position: relative;
    width: 66.66667%;
  }

  .large-9 {
    position: relative;
    width: 75%;
  }

  .large-10 {
    position: relative;
    width: 83.33333%;
  }

  .large-11 {
    position: relative;
    width: 91.66667%;
  }

  .large-12 {
    position: relative;
    width: 100%;
  }

  .row {
    .large-offset-0 {
      position: relative;
      margin-left: 0%;
    }
    .large-offset-1 {
      position: relative;
      margin-left: 8.33333%;
    }
    .large-offset-2 {
      position: relative;
      margin-left: 16.66667%;
    }
    .large-offset-3 {
      position: relative;
      margin-left: 25%;
    }
    .large-offset-4 {
      position: relative;
      margin-left: 33.33333%;
    }
    .large-offset-5 {
      position: relative;
      margin-left: 41.66667%;
    }
    .large-offset-6 {
      position: relative;
      margin-left: 50%;
    }
    .large-offset-7 {
      position: relative;
      margin-left: 58.33333%;
    }
    .large-offset-8 {
      position: relative;
      margin-left: 66.66667%;
    }
    .large-offset-9 {
      position: relative;
      margin-left: 75%;
    }
    .large-offset-10 {
      position: relative;
      margin-left: 83.33333%;
    }
    .large-offset-11 {
      position: relative;
      margin-left: 91.66667%;
    }
  }

  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important;
  }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
  .push-6 {
    position: relative;
    left: 0;
    right: auto;
  }
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1173px;
}

/*============================ main styles =================================*/
.main-container {
  height: 100%;
  section {
    position: relative;
    z-index: 2;
  }
}

@media only screen and (min-width: 750px) {
  .main-container .header-container {
    background: $bgWhiteColor;
    .header-container {
      background: $bgWhiteColor;
    }
    .header-container.compress {
      background: $bgWhiteColor;
    }
  }
}

.content-wrapper {
  display: table;
  height: 100%;
  width: 100%;
  .content-inner {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
}

.f-dropdown {
  li {
    width: 100%;
  }
}

.header-container {
  background: $bgWhiteColor;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  padding: 10px 0;
  border-bottom: 1px solid $whiteColor;
  -webkit-transition: padding 0.5s ease, border-color 0.5s ease, background 0.5s ease;
  -moz-transition: padding 0.5s ease, border-color 0.5s ease, background 0.5s ease;
  transition: padding 0.5s ease, border-color 0.5s ease, background 0.5s ease;
  .logo {
    top: 0;
    position: relative;
    display: block;
    float: left;
    width: 135px;
    height: 45px;
    transition: all 0.5s ease;
    * {
      transition: all 0.5s ease;
      position: absolute;
    }
  }
  nav {
    display: block;
    position: absolute;
    top: -420px;
    background: #1f3040;
    left: 0;
    right: 0;
    padding: 30px;
    li {
      text-transform: uppercase;
      font-size: 13px;
      text-align: center;
      line-height: 1.4;
      margin: 0;
      padding: 3px 0;
      a {
        color: $defaultColor;
        border: 2px solid transparent;
        display: block;
        padding: 9px 10px;
        line-height: 1.4;
        font-weight: bold;
        &:hover {
          color: #333;
        }
      }
      &:last-child {
        padding-right: 0;
      }
      select {
        background: transparent;
        border: none;
        color: $defaultColor;
        font-weight: bold;
        font-size: 13px;
        text-transform: uppercase;
        cursor: pointer;
        background-image: url(../img/arrow-down.png);
        background-position: 100% center;
        background-repeat: no-repeat;
        transition: .2s all;
        width: 60px;
        &:hover, &:focus {
          color: #333;
          transition: .2s all;
          background-image: url(../img/arrow-down-active.png);
        }
      }
      .order-btn {
        color: $defaultColor;
        background: transparent;
        border: 2px solid $defaultColor;
        &:hover {
          color: #fff;
          background: $defaultColor;
        }
      }
    }
    .language-menu {
      a:focus, a:active, a:hover {
        border-bottom: 1px solid $defaultColor;
      }
    }
  }
  .open-menu-button {
    display: block;
    color: $defaultColor;
    position: absolute;
    height: 30px;
    line-height: 30px;
    text-align: center;
    right: 0;
    font-size: 26px;
    top: 8px;
    width: 50px;
    outline: none;
  }
}
.header-container.menu-open {
  padding: 400px 0 10px 0;
}

@media only screen and (min-width: 910px) {
  .header-container {
    padding: 35px 0 20px;
    border-bottom: 1px solid transparent;
    .logo {
      width: 180px;
      height: 60px;
      top: -12px;
    }
    nav {
      float: right;
      position: relative;
      background: none;
      top: inherit;
      left: inherit;
      right: inherit;
      padding: 0;
      li {
        float: left;
        text-align: left;
        padding: 0 5px 0 0;
      }
      .languages_select {
        display: block;
      }
      .language-menu {
        display: none;
      }
    }
    .open-menu-button {
      display: none;
    }
  }
  .header-container.compress {
    padding: 10px 0 0;
    border-bottom: 1px solid #b6b6a6;
    transition: padding 0.5s ease, border-color 0.5s ease, background 0.5s ease;
    .logo {
      top: 0;
      width: 135px;
      height: 45px;
    }
    nav {
      top: 2px;
    }
  }
}
@media only screen and (max-width: 909px) {
  .header-container {
    border-bottom: 1px solid #b6b6a6;
    .open-menu-button {
      display: block;
    }
    .languages_select {
      display: none;
    }
    .language-menu {
      /*display: none;*/
      position: absolute;
      right: 30px;
      bottom: 10px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .header-container {
    nav {
      padding: 30px 30px 20px;
      li {
        a {
         &:hover {
           color: #6495ed;
         }
        }
      }
    }
  }
}

.footer-container {
  padding: 0 0 40px 0;
  text-align: center;
  position: relative;
  z-index: 2;
  background: #fff;
  hr {
    margin: 0 0 40px 0;
  }
  p {
    font-size: 13px;
    color: #b6b6a6;
    line-height: 1.8;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  .logo-footer {
    display: inline-block;
    width: 135px;
    height: auto;
    overflow: hidden;
    position: relative;
  }
  nav {
    ul {
      margin: 0;
      padding: 0;
      li {
        text-transform: uppercase;
        padding: 0;
        list-style: none;
        font-size: 13px;
        margin: 8px 0;
        a {
          color: #b6b6a6;
          display: block;
          padding: 8px 0;
          &:hover {
            color: $defaultColor;
          }
        }
      }
    }
  }
  form {
    input {
      margin: 0 0 30px 0;
      border: none;
      border-bottom: 1px solid grey;
      box-shadow: none;
      transition: .3s all;
      &:focus {
        border-bottom: 2px solid $defaultColor;
        transition: .1s all;
        background: transparent;
      }
    }
    button {
      margin: 0 0 50px 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .footer-container {
    padding: 0 0 50px 0;
    text-align: left;
    hr {
      margin: 0 0 60px 0;
    }
    nav {
      ul {
        li {
          font-size: 11px;
          margin: 5px 0;
          a {
            padding: 5px 0;
          }
        }
      }
    }
    form {
      button {
        margin: 0;
      }
    }
  }
}


#presentation {
  position: relative;
  z-index: 2;
  background: $bgWhiteColor;
  margin: 0;
  transition: opacity 0.5s ease;
  border-bottom: 1px solid $whiteColor;
  overflow: hidden;
  height: auto;
  padding: 220px 0 0;
  color: $whiteColor;
  h1 {
    font-size: 25px;
    margin: 15px 0;
    color: $whiteColor;
  }
  .description {
    margin: 0;
    font-size: 16px;
  }
  .button {
    margin: 15px 0 0 0;
  }
  .button.play {
    background: url(../img/play.png) no-repeat;
    clear: both;
    height: 150px;
    width: 236px;
    background-size: 170px auto;
    background-position: center center;
  }
}

@media only screen and (min-width: 768px) {
  #presentation {
    background: url(../img/1.JPG) no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 825px;
    img {
      display: none;
    }
    .description {
      font-size: 18px;
      margin: 0 0 30px 0;
    }
  }
  .desktop-device {
    #presentation {
      margin: 0 0 150% 0;
      opacity: 1;
    }
    #presentation.fade-out {
      opacity: 0;
    }
  }
}
@media only screen and (max-width: 767px) {
  #presentation {
    padding: 100px 0 0 0;
    h1, .description {
      color: #000000;
    }
    .button {
      margin-bottom: 50px;
    }
  }
}
@media only screen and (max-width: 600px) {
  #presentation {
    .mobile-show {
      display: block;
    }
    .mobile-hide {
      display: none;
    }
    .mobile-show.button {
      margin: 0 auto;
    }
  }
}

#animation-block {
  margin: 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: auto;
  .content-wrapper {
    padding: 0 0 50px 0;
    .content-text {
      display: none;
    }
  }
  .figure-block {
    display: none;
    .figure {
      display: block;
      position: absolute;
      bottom: 58%;
      transition: all 0.5s ease;
      background: url(../img/tree.png) bottom center no-repeat;
      background-size: contain;
      z-index: 3;
      height: 580px;
      width: 300px;
      margin: 0 0 -300px;
      .item-group {

      }
    }
  }
  .platform {
    display: block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    position: absolute;
    margin: 0 0 -50px -50px;
    text-align: center;
    transition: all 0.5s ease;
    z-index: 3;
    border: 1px solid transparent;
    background: $bgWhiteColor;
    &:before {
      display: block;
      width: 100px;
      height: 100px;
      line-height: 100px;
      color: $animationColor;
    }
  }
  .platform.icon-home {
    font-size: 70px;
  }
  .platform.icon-car {
    font-size: 52px;
  }
  .platform.icon-comp {
    font-size: 52px;
  }
  .platform.icon-airplane {
    font-size: 60px;
  }
  .line,
  .connection {
    display: block;
    background: $animationColor;
    height: 1px;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    transition-delay: 0s;
  }
  .line.one {
    bottom: 70%;
    left: 17%;
    width: 25%;
    transform: rotate(-42deg);
  }
  .line.two {
    bottom: 64%;
    left: 22%;
    width: 25%;
    transform: rotate(-14deg);
  }
  .line.three {
    bottom: 54%;
    left: 22%;
    width: 25%;
    transform: rotate(16deg);
  }
  .line.four {
    bottom: 46%;
    left: 18%;
    width: 24%;
    transform: rotate(40deg);
  }
  .connection.one {
    transform: rotate(21deg);
    bottom: 45%;
    height: 38%;
    left: 24%;
    width: 1px;
  }
  .connection.two {
    transform: rotate(31deg);
    bottom: 75.5%;
    left: 26%;
    width: 21%;
  }
  .connection.three {
    transform: rotate(-51deg);
    bottom: 62%;
    left: 29.5%;
    width: 20%;
  }
  .connection.four {
    bottom: 47%;
    left: 30%;
    width: 20%;
    transform: rotate(51deg);
  }
  .connection.five {
    transform: rotate(14deg);
    bottom: 44%;
    left: 19%;
    width: 27%;
  }
}
#animation-block.frame-1-active {
  .platform {
    background: transparent;
  }
  .platform.icon-home {
    bottom: 60%;
    left: 3%;
  }
  .platform.icon-car {
    bottom: 78%;
    left: 11%;
  }
  .platform.icon-comp {
    bottom: 78%;
    left: 31%;
  }
  .platform.icon-airplane {
    bottom: 60%;
    left: 44%;
  }
  .figure {
    left: 9%;
  }
  .line,
  .connection {
    transition-delay: 0s;
    opacity: 0;
  }
}
@media only screen and (min-width: 900px) {
  #animation-block.frame-1-active {
    .figure {
      left: 10.5%;
    }
  }
}

#animation-block.frame-2-active {
  .platform {
    background: $bgWhiteColor;
  }
  .platform.icon-home {
    top: 10%;
    left: 43%;
  }
  .platform.icon-car {
    bottom: 66%;
    left: 47%;
  }
  .platform.icon-comp {
    bottom: 50%;
    left: 46%;
  }
  .platform.icon-airplane {
    bottom: 32%;
    left: 43%;
  }
  .figure {
    left: 5%;
  }
  .line {
    transition-delay: 0.5s;
    opacity: 1;
  }
  .connection {
    transition-delay: 0s;
    opacity: 0;
  }
}
@media only screen and (min-width: 1100px) {
  #animation-block.frame-2-active {
    .figure {
      left: 7%;
    }
  }
}

#animation-block.frame-3-active {
  .line {
    transition-delay: 0s;
    opacity: 0;
  }
  .connection {
    transition-delay: 0.5s;
    opacity: 1;
  }
  .figure {
    left: 5%;
  }
  .platform {
    border-color: $animationColor;
  }
  .platform.icon-home {
    bottom: 80%;
    left: 30%;
  }
  .platform.icon-car {
    bottom: 70%;
    left: 45%;
  }
  .platform.icon-comp {
    bottom: 55%;
    left: 35%;
  }
  .platform.icon-airplane {
    bottom: 40%;
    left: 45%;
  }
}
@media only screen and (min-width: 1100px) {
  #animation-block.frame-3-active {
    .figure {
      left: 7%;
    }
  }
}

@media only screen and (min-width: 768px) {
  #animation-block {
    min-height: 850px;
    .content-wrapper {
      position: absolute;
      top: 0;
      bottom: 25%;
      left: 0;
      right: 0;
      z-index: 2;
      padding: 0;
      height: 75%;
      min-height: 400px;
      .content-text {
        position: absolute;
        top:-100px;
      }
      .content-text.first-step {
        display: block;
      }
    }
    .figure-block {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1;
      height: 100%;
      .columns.large-12 {
        height: 100%;
      }
    }
  }
  .desktop-device {
    #animation-block {
      position: fixed;
      height: 100%;
      min-height: 850px;
    }
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px){
  #animation-block {
    .content-wrapper{
      height: 55%;
    }
    .figure{
      margin: 0 0 -260px;
    }
  }
  .platform::before{
    line-height:0;
  }
  #animation-block.frame-3-active {
    .platform:before{
      line-height: 100px;
    }
  }
}
@media only screen and (min-width: 600px) and (max-width: 767px){
  #animation-block {
    .content-wrapper {
      .content-text.second-step {
        display: none;
      }
      .content-text.third-step {
        display: none;
      }
    }
  }
}


#scroll-section {
  padding: 80px 0 0 0;
  position: relative;
  background-color: $bgScrollBlock;
  .scroll-section_title {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    h2 {
      position: relative;
    }
    h2.icon-future:before {
      position: absolute;
      background: $bgWhiteColor;
      display: block;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      border: 1px solid #b6b6a6;
      line-height: 130px;
      color: $animationColor;
      font-size: 80px;
      left: 50%;
      top: 0;
      margin: -150px 0 0 -65px;
    }
    p {
      width:90%;
      font-size:14px;
      margin:0 auto;
      margin-top:25px;
    }
  }
  .scroll-section_content {
    height: 1370px;
    background: url(../img/bg_scroll-block_lg.png) bottom center no-repeat;
    position: relative;
    z-index: 2;
    left: 0;
    right: 0;
    .row,
    .small-12 {
      height: 1370px;
    }
    .center-icon {
      display: block;
      background: $defaultColor;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      color: #fff;
      text-align: center;
      z-index: 3;
      bottom: 54%;
      font-size: 80px;
      width: 210px;
      height: 210px;
      margin: 0 0 -80px -120px;
      line-height: 200px;
    }
    .video-block {
      display: block;
      border-radius: 50%;
      position: absolute;
      overflow: hidden;
      z-index: 4;
      transition: border-color 0.3s ease;
      border: 10px solid #fff;
      width: 177px;
      height: 177px;
      img {
        width: auto;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        margin: 0;
        height: 170px;
      }
      &:hover {
        color: $defaultColor;
        border-color: $defaultColor;
      }
      .icon-play {
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
        color: #fff;
        transition: color 0.3s ease;
        line-height: 160px;
        font-size: 40px;
        &:hover {
          color: $defaultColor;
        }
        &:before {
          content: "\25b6";
        }
      }
    }
    .video-block_first {
      left: 5%;
      bottom: 65%;
      margin: 0 0 -3px -42px;
    }
    .video-block_second {
      left: 10%;
      bottom: 18%;
      margin: 0 0 0 -11px;
    }
    .video-block_third {
      width: 200px;
      height: 200px;
      left: 80%;
      bottom: 68%;
      margin: 0 0 0 -6px;
      img {
        height: 200px;
      }
    }
    .video-block_fourth {
      left: 82%;
      bottom: 12%;
      margin: 0 0 0 -5px;
      img {
        height: 200px;
      }
      .icon-play {
        line-height: 160px;
      }
    }
    .img-wrap_circle {
      position: absolute;
      bottom: 5%;
      left: 53%;
      margin: -65px 0 0 -65px;
      width: 130px;
      height: 130px;
      z-index: 1;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}


@media only screen and (min-width: 1170px) {
  #scroll-section {
    .scroll-section_content {
      height: 730px;
      .row,
      .small-12 {
        height: 730px;
      }
    }
  }
}
@media only screen and (max-width: 1169px) {
  #scroll-section {
    background-color: $bgScrollBlock;
    .scroll-section_content {
      background: url(../img/bg_scroll-block_sm.png) bottom center no-repeat;
      .center-icon {
        left: 50%;
        bottom: 47%;
        font-size: 150px;
        width: 300px;
        height: 300px;
        margin: 0 0 -80px -160px;
        line-height: 300px;
      }
      .video-block_first {
        left: 50%;
        bottom: 70%;
        margin: 0 0 0 -200px;
      }
      .video-block_second {
        left: 50%;
        bottom: 1%;
        margin: 0 0 0 -170px;
      }
      .video-block_third {
        left: 50%;
        bottom: 85%;
        margin: 0 0 0 -100px;
      }
      .video-block_fourth {
        display: none;
      }
      .img-wrap_circle {
        bottom: 17%;
        left: 50%;
        margin: 0 0 0 -5px;
      }
    }
  }
}


#blog-feed.icon-pencil:before {
  content: "";
}
.navy-images-block {
  background: #1f3040;
  position: relative;
  z-index: 2;
  overflow: visible;
  .features-panel {
    display: block;
    position: relative;
    overflow: visible;
    transition: .2s all;
    h6 {
      color: #B7B7B7;
      width: 80%;
      margin: 20px 10% 0;
      .author {
        color: $defaultColor;
      }
    }
    img {
      min-height: 100%;
      max-width: none;
      height: auto;
      width: 100%;
      z-index: 1;
      transform: scale(1);
      transition: all 0.3s ease;
    }
    .content-wrapper {
      position: relative;
      z-index: 3;
      height: 450px;
      padding: 80px 0;
      overflow: visible;
      &:before {
        content: "";
        position: absolute;
        left: -25px;
        right: -25px;
        top: 0;
        bottom: 0;
        background: rgba(31, 48, 64, 0.9);
        z-index: -1;
        transition: background 0.3s ease;
      }
    }
  }
  .features-panel-bg1 {
    background: url("../img/3.JPG") no-repeat;
    &:hover {
      background: rgba(31, 48, 64, 0.95);
    }
    h5, h6 {
      margin-left: 40px;
      color: $whiteColor;
    }
  }
  .features-panel-bg2 {
    background: url("../img/2.JPG") no-repeat;
    &:hover {
      background: rgba(31, 48, 64, 0.95);
    }
    h5, h6 {
      margin-left: 40px;
      color: $whiteColor;
    }
  }
}

@media only screen and (min-width: 768px) {
  #blog-feed {
    position: relative;
    &:before {
      display: block;
      height: 86px;
      width: 86px;
      border: 2px solid $whiteColor;
      background: $bgWhiteColor;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      margin: 0 0 0 -45px;
      color: $defaultColor;
      z-index: 6;
      text-align: center;
      line-height: 86px;
      font-size: 50px;
      top: 170px;
    }
    &:after {
      position: absolute;
      content: "";
      width: 2px;
      height: 100%;
      top: 0;
      left: 50%;
      z-index: 5;
      background: #fff;
      margin: 0 0 0 -1px;
    }
  }
}

#advertising-goods {
padding: 200px 0 40px 0;
text-align: center;
}

@media only screen and (min-width: 768px) {
  #advertising-goods {
    text-align: left;
    padding: 0;
    background: $bgWhiteColor;
    .row {
      padding: 100px 0;
      .default-button {
        margin-top: 30px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  #advertising-goods {
    padding: 40px 0;
    img {
      margin-bottom: 30px;
    }
  }
}


.inner-page-wrapper {
  padding-top: 140px;
  section {
    color: $blackColor;
    margin-bottom: 40px;
    .info {
      img {
        float: right;
      }
    }
  }
  #id_2 {
    a {
      display: block;
    }
  }
  #id_4 {
    .block_inner {
      position: relative;
      z-index: 1;
      border: 2px solid #b6b6a6;
      box-shadow: 0 0 5px 3px #b6b6a6;
      padding: 40px 20px 20px;
      margin-bottom: 40px;
      .block-icon {
        width: 54px;
        height: 54px;
        margin-left: -28px;
        display: inline-block;
        position: absolute;
        top: -28px;
        left: 50%;
        z-index: 2;
        border-width: 1px;
        border-radius: 50%;
        background-color: $defaultColor;
        font-size: 30px;
        padding: 10px 0;
        text-align: center;
        color: $whiteColor;
        cursor: pointer;
      }
    }
  }
}
@media only screen and (min-width: 640px) and (max-width: 767px){
  .inner-page-wrapper {
    section {
      .info {
        img {
          display: none;
        }
      }
    }
  }
}