doctype html.no-js(lang='en')
head
   meta(charset='utf-8')
   | &#x9;&#x9;
   title Nymi redesign inner page
   | &#x9;&#x9;
   meta(name='viewport', content='width=device-width, initial-scale=1.0')
   | &#x9;&#x9;
   link(rel='stylesheet', href='css/foundation.min.css', type='text/css', media='all')
   | &#x9;&#x9;
   link(rel='stylesheet', href='css/style.css', type='text/css', media='all')
   | &#x9;&#x9;
   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
   | &#x9;&#x9;
   script(src='js/vendor/modernizr.js')
   body.main-container.desktop-device
      header#menu-wrapper.header-container
         .row
            .columns.small-12
               a.logo(href='#')
                  img(src='img/logo.jpeg', alt='logo')
               | &#x9;&#x9;
               nav.clearfix
                  section.clearfix.language-menu
                     .right
                        a(href='#')
                           img(src='img/ee.png', alt='')
                        | &#x9;&#x9;
                        a(href='#')
                           img(src='img/en.png', alt='')
                        | &#x9;&#x9;
                        a(href='#')
                           img(src='img/ru.png', alt='')
                  | &#x9;&#x9;
                  ul.main-menu
                     li
                        a(href='') Home
                     | &#x9;&#x9;
                     li
                        a(data-dropdown='drop', aria-controls='drop', aria-expanded='false')
                           | Has Dropdown
                           i.fa.fa-chevron-down
                        | &#x9;&#x9;
                        ul#drop.f-dropdown(data-dropdown-content='', aria-hidden='true', tabindex='-1')
                           li
                              a(href='#') This is a link
                           | &#x9;&#x9;
                           li
                              a(href='#') This is another
                           | &#x9;&#x9;
                           li
                              a(href='#') Yet another
                     | &#x9;&#x9;
                     li
                        a(href='') Team
                     | &#x9;&#x9;
                     li
                        a(href='') About Us
                     | &#x9;&#x9;
                     li
                        a(href='') Develop
                     | &#x9;&#x9;
                     li
                        a(href='') Downloads
                     | &#x9;&#x9;
                     li
                        a.button.order-btn(href='') Order
                     | &#x9;&#x9;
                     li.languages_select
                        select
                           option(value='rus') rus
                           | &#x9;&#x9;
                           option(value='eng') eng
                           | &#x9;&#x9;
                           option(value='est') est
               | &#x9;&#x9;
               a#menu-button.open-menu-button(href='javascript:void(0)')
                  i.fa.fa-bars
      article.inner-page-wrapper
         section#id_1.row
            .columns.large-6
               h1 QUALIT&Auml;T DURCH AUSBILDUNG!
               | &#x9;&#x9;
               img(src='img/puzzle.png', alt='')
            | &#x9;&#x9;
            .columns.large-6
               p
                  | CrossMatching Ausbildung ist ein &auml;u&szlig;erst wichtiger Teil des Wissens, die so wichtig ist f&uuml;r die Benutzer unserer Produkte auf einem vertrauensw&uuml;rdigen und professionellen Art und Weise in ihrem t&auml;glichen Einsatz zu unterst&uuml;tzen.
                  | Trainers mit einem medizinischen Hintergrund und Trainers mit einer Vertriebs &amp; Marketing Hintergrund und Erfahrung auf dem Gebiet in dem sie besch&auml;ftigt sind, ist das R&uuml;ckgrat unserer Ausbildung.
                  | Webinare, Seminare und Anwendertage definieren unsere flexible Angebote, die aktuelle Nachfrage und Anwendungen zugeschnitten.
         | &#x9;&#x9;
         section#id_2.row.text-center
            .columns.large-4
               h3 Medizin
               | &#x9;&#x9;
               p
                  | Hoch technologische Systeme f&uuml;r die komplement&auml;ren Arzt und Therapeuten zur Analyse und Verarbeitung.
               | &#x9;&#x9;
               a ERI Medizin
               | &#x9;&#x9;
               div
                  a.play-button(href='#')
                     img(src='img/play.png', alt='')
            | &#x9;&#x9;
            .columns.large-4
               h3 Sport &amp; Fitness
               | &#x9;&#x9;
               p
                  | Spezifische Technologie zugeschnitten f&uuml;r
                  | Sport &amp; Fitness, Fitnessstudios und Physiotherapeuten.
               | &#x9;&#x9;
               a ERI Sport &amp; Fitness
               | &#x9;&#x9;
               div
                  a.play-button(href='#')
                     img(src='img/play.png', alt='')
            | &#x9;&#x9;
            .columns.large-4
               h3 Ern&auml;hrung Expertise
               | &#x9;&#x9;
               p Technologie f&uuml;r die spezifische Analyse durch Di&auml;tistn und Ern&auml;hrungsexperten.
               | &#x9;&#x9;
               a ERI Ern&auml;hrung Expertise
               | &#x9;&#x9;
               div
                  a.play-button(href='#')
                     img(src='img/play.png', alt='')
         | &#x9;&#x9;
         section#id_3.row
            .columns.large-6
               .info.row
                  .columns.large-5.hidden-for-small
                     img(src='img/TW_New_Logo_2.jpg', alt='')
                  | &#x9;&#x9;
                  .columns.large-7
                     h3.text-center Partner ERI
                     | &#x9;&#x9;
                     p.text-left
                        | Dynamisches Spektralanalyse System mit einer extrem schnellen Screening von 35 Sekunden, nicht-invasiv
                        | und Benutzer-freundlich. Kann in der Medizin, Sport &amp; Fitness Bereich und
                        | Ern&auml;hrung Expertise eingesetzt werden. Steht sowohl online als in ein Stand-alone-System, zur Verf&uuml;gung.
            | &#x9;&#x9;
            .columns.large-6
               .info.row
                  .columns.large-5.hidden-for-small
                     img(src='img/Logo_ERI.png', alt='')
                  | &#x9;&#x9;
                  .columns.large-7
                     h3.text-center Partner TimeWaver
                     | &#x9;&#x9;
                     p.text-left
                        | Ein hoch technologisch Mikro-Feinstrom-Behandlungssystem einsetzbar in der Medizin, Sport und Fitness und
                        | Ern&auml;hrung Expertise. Zwei verschiedene Hardware-Systeme mit
                        | unterschiedliche M&ouml;glichkeiten. Ein System f&uuml;r der Praxis und ein Home-System, das der Kunde zu Hause verwendet.
         | &#x9;&#x9;
         section#id_4.row
            .columns.large-4
               .block_inner
                  a(href='pdf/')
                     i.fa.fa-thumbs-up.block-icon
                  | &#x9;&#x9;
                  h3 FAQ
                  | &#x9;&#x9;
                  p
                     | Wenn Sie Fragen in diesen Moment haben und Sie k&ouml;nnen uns jetzt nicht erreichen&mldr;.
                     | vielleicht das Ihre Frage beantwortet wird in unsere FAQ&mldr;
                  | &#x9;&#x9;
                  a(href='#') link
            | &#x9;&#x9;
            .columns.large-4
               .block_inner
                  a(href='pdf/')
                     i.fa.fa-laptop.block-icon
                  | &#x9;&#x9;
                  h3 FAQ
                  | &#x9;&#x9;
                  p
                     | Wenn Sie Fragen in diesen Moment haben und Sie k&ouml;nnen uns jetzt nicht erreichen&mldr;.
                     | vielleicht das Ihre Frage beantwortet wird in unsere FAQ&mldr;
                  | &#x9;&#x9;
                  a(href='#') link
            | &#x9;&#x9;
            .columns.large-4
               .block_inner
                  a(href='pdf/')
                     i.fa.fa-home.block-icon
                  | &#x9;&#x9;
                  h3 FAQ
                  | &#x9;&#x9;
                  p
                     | Wenn Sie Fragen in diesen Moment haben und Sie k&ouml;nnen uns jetzt nicht erreichen&mldr;.
                     | vielleicht das Ihre Frage beantwortet wird in unsere FAQ&mldr;
                  | &#x9;&#x9;
                  a(href='#') link
      footer.footer-container
         .row
            .columns.small-12
               hr.bg-sand
         | &#x9;&#x9;
         .row
            .columns.large-4.push-8.medium-4.small-12
               h5 Lorem ipsum dolor sit amet
               | &#x9;&#x9;
               form(action='', method='post')
                  input#field-name(type='text', required='', placeholder='Your name')
                  | &#x9;&#x9;
                  input#field-email(type='email', required='', placeholder='Enter email address')
                  | &#x9;&#x9;
                  button.default-button(type='submit') Continue
            | &#x9;&#x9;
            .columns.large-8.pull-4.medium-8.small-12
               .row
                  .columns.large-7.push-5.medium-7.small-12
                     h5 Explore
                     | &#x9;&#x9;
                     nav.hidden-for-small
                        .row
                           .columns.large-4.medium-4.small-12
                              ul
                                 li
                                    a(href='index.html') Home
                                 | &#x9;&#x9;
                                 li
                                    a(href='') Band
                                 | &#x9;&#x9;
                                 li
                                    a(href='') News
                                 | &#x9;&#x9;
                                 li
                                    a(href='') About Us
                           | &#x9;&#x9;
                           .columns.large-4.medium-4.small-12
                              ul
                                 li
                                    a(href='') Develop
                                 | &#x9;&#x9;
                                 li
                                    a(href='') Contact
                                 | &#x9;&#x9;
                                 li
                                    a(href='') Careers
                                 | &#x9;&#x9;
                                 li
                                    a(href='') Press
                           | &#x9;&#x9;
                           .columns.large-4.medium-4.small-12
                              ul
                                 li
                                    a(href='') Activate
                                 | &#x9;&#x9;
                                 li
                                    a(href='') Support
                                 | &#x9;&#x9;
                                 li
                                    a(href='') Press Kit
                                 | &#x9;&#x9;
                                 li
                                    a(href='') Legal
                     | &#x9;&#x9;
                     nav.show-for-small
                        .row
                           .columns.large-4.medium-4.small-12
                              ul.row
                                 li.columns.small-6
                                    a(href='index.html') Home
                                 | &#x9;&#x9;
                                 li.columns.small-6
                                    a(href='') Band
                                 | &#x9;&#x9;
                                 li.columns.small-6
                                    a(href='') News
                                 | &#x9;&#x9;
                                 li.columns.small-6
                                    a(href='') About Us
                           | &#x9;&#x9;
                           .columns.large-4.medium-4.small-12
                              ul.row
                                 li.columns.small-6
                                    a(href='') Develop
                                 | &#x9;&#x9;
                                 li.columns.small-6
                                    a(href='') Contact
                                 | &#x9;&#x9;
                                 li.columns.small-6
                                    a(href='') Careers
                                 | &#x9;&#x9;
                                 li.columns.small-6
                                    a(href='') Press
                           | &#x9;&#x9;
                           .columns.large-4.medium-4.small-12
                              ul.row
                                 li.columns.small-6
                                    a(href='') Activate
                                 | &#x9;&#x9;
                                 li.columns.small-6
                                    a(href='') Support
                                 | &#x9;&#x9;
                                 li.columns.small-6
                                    a(href='') Press Kit
                                 | &#x9;&#x9;
                                 li.columns.small-6
                                    a(href='') Legal
                  | &#x9;&#x9;
                  .columns.large-5.pull-7.medium-5.small-12
                     a.logo-footer(href='')
                        img(src='img/logo.jpeg', alt='')
                     | &#x9;&#x9;
                     p &copy; Copyright 2015. All Rights Reserved.
      //if lt IE 9
        script(type='text/javascript').
          jQuery(document).ready(function($) {
          $('.large-12').addClass('twelve');
          $('.large-11').addClass('eleven');
          $('.large-10').addClass('ten');
          $('.large-9').addClass('nine');
          $('.large-8').addClass('eight');
          $('.large-7').addClass('seven');
          $('.large-6').addClass('six');
          $('.large-5').addClass('five');
          $('.large-4').addClass('four');
          $('.large-3').addClass('three');
          $('.large-2').addClass('two');
          $('.large-1').addClass('one');
          });
      script(src='js/vendor/jquery.js')
      script(src='js/foundation.min.js')
      script(src='js/foundation/foundation.dropdown.js')
      script(src='js/vendor/main.js')
      script.
         $(document).foundation();

